body {
    margin: 0;
	content-visibility: auto;
}
strong {
    font-weight: 600;
	
}
baton {
	display: inline-block;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color: #000000; 
	background-color: #fff8f032;
	border: 2px groove #00000055;
	border-radius: 250px;
    box-shadow: 0px 5px 5px #00000080;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	white-space: nowrap;
	font: 16px/16px 'Open Sans',"Georgia","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	text-shadow:        
        		-0.5px 0.5px 0px #ffffffff;
				
}
baton:hover {
	border: 2px groove #55555595;
	border-radius: 250px;
    box-shadow: 0px 2px 2px #00000080;
	text-shadow:        
        		1px -1px 0px #ffffffff;
	
}	
st {
	display: table;
	margin-top: -16px;
	margin-left: -3px;
	margin-bottom: 20px;
	background-color: #fffdf850;
	border: 1px groove #00000025;
    box-shadow: 0px 5px 10px #00000080;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 25px;

}
hidden {
    display: none;	

}

img {
	min-width: 100%;

}	
.normal {
        }
    .normal img
        {
    min-width: 0%;

     }
.mob {
        }
    .normal img
        {
    max-width: 0%;

}
video {
	min-width: 100%;
		
}
em {
    font-weight: 0px;	
	font: 18px/18px 'Open Sans',"Georgia","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	font-style: italic;
	
}	
iframe { 
  width: 32%;
  aspect-ratio: 16 / 9;
  min-width: 100%;
	
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code {
    padding: 2px 4px;
    font-size: 100%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
pre {
    display: block;
    margin: 0;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: auto;
    padding: 3px;
    border: 1px solid #eee;
    max-height: none;
    font-size: inherit;
}
.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.pull_left {
    float: left;
	padding: 3px;
	padding-left: -30px;
}
.pull_right {
    float: right;
}
.forwarded {
    display: table;
    height: 0px;
    clear: both;
	margin-top: -100px;
}

.page_wrap {
    color: #000000;
	background-color: #fff8f050;
	font: 18px/18px 'Open Sans',"Arial","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	text-align: justify;
}
.page_wrap a {
    color: #004477;
    text-decoration: none;
	font-weight: 600;

}
.page_wrap a:hover {
    color: #0066bb;
	text-decoration: none;

}
.page_header {
    margin-top: 2px;
	position: none;
    z-index: 10;
	margin-left: auto;
	margin-right: auto;
    background-color: #ffffff50;
	border: 2px groove #00000055;
	border-radius: 8px;
    box-shadow: 0px 5px 5px #00000080;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 3px;
	font: 18px/18px 'Open Sans',"Georgia","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    color: #;
	width: 96%;
    border-bottom: 0px solid #;
	text-shadow:        
        -2px -2px 2px #eeeeee,
		3px 3px 3px #888888;      
}
.page_header .content {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
}
.page_header a.content {
    background-repeat: no-repeat;
    background-position: 24px 21px;
    background-size: 24px 24px;
}
.bold {
    color: #000000;
    font-weight: 500;
	font: 12px/12px 'Open Sans',"Tahoma","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}
.details {
    padding-left: 10px;
	margin-right: 10px;
	color: #604840;
	font: 12px/12px 'Open Sans',"Tahoma","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	text-shadow:
        -1.50px -1.50px 0 #eeeeee,
        0.00px 0.00px 0 #bbbbbb,
		0.50px 0.50px 0 #888888,
        1.00px 1.00px 0 #aaaaaa,
        1.50px 1.50px 0 #bbbbbb,
        2.00px 2.00px 0 #cccccc,
		2.50px 2.50px 0 #dddddd,
        3.00px 3.00px 0 #eeeeee;
}
.page_header .content .text {
    padding: 24px 24px 22px 24px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page_header a.content .text {
    padding: 24px 24px 22px 82px;
}
.page_body {
    padding-top: 0px;
	padding-left: 3px;
    width: 96%;
    margin: 0 auto;
}
.page_about {
    padding: 24px 24px;
}
.with_divider {
    border-top: 1px solid #e3e6e8;
}
.userpic_link {
    display: block;
    text-decoration: none;
}
.userpic_link:hover {
    text-decoration: none;
}
.userpic {
    display: block;
    border-radius: 50%;
    overflow: hidden;
}
.story {
    display: block;
    border-radius: 4px;
    overflow: hidden;
}
.userpic .initials {
    display: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}
.color_red,
.userpic1,
.media_call .fill,
.media_file .fill,
.media_live_location .fill {
    background-color: #00000010;
}
.color_green,
.userpic2,
.media_call.success .fill,
.media_photo .fill {
    background-color: #;
}
.color_yellow,
.userpic3,
.media_venue .fill {
    background-color: #;
}
.color_blue,
.userpic4,
.media_audio_file .fill,
.media_voice_message .fill {
    background-color: #;
}
.color_purple,
.userpic5,
.media_game .fill {
    background-color: #;
}
.color_pink,
.userpic6,
.media_invoice .fill {
    background-color: #;
}
.color_sea,
.userpic7,
.media_location .fill,
.media_video .fill {
    background-color: #;
}
.color_orange,
.userpic8,
.media_contact .fill {
    background-color: #;
}
.personal_info {
    padding: 24px;
}
.personal_info .userpic .initials {
    font-size: 30px;
}
.personal_info .rows {
    float: left;
    padding-right: 24px;
}
.personal_info .names {
    width: 164px;
}
.personal_info .info {
    width: 124px;
}
.personal_info .bio {
    width: 400px;
}
.personal_info .row {
    padding-bottom: 16px;
}
a.block_link {
    display: block;
    text-decoration: none !important;
    border-radius: 4px;
}
a.block_link:hover {
    text-decoration: none !important;
    background-color: #;
}
a.expanded {
    padding: 2px 8px;
    margin: -2px -8px;
}
.sections {
    padding: 11px 0;
}
.section {
    height: 48px;
    background-position: 24px 12px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.section .counter {
    float: right;
    padding: 14px 24px 0;
    font-size: 15px;
}
.section .label {
    padding: 15px 0 0 82px;
    font-size: 15px;
}
.list_page .page_about {
    padding: 16px 24px 0;
    font-size: 11px;
}
.list_page .entry_list {
    padding: 16px 0;
}
.list_page .entry {
    padding: 10px 16px;
}
.list_page .entry .userpic .initials {
    font-size: 18px;
}
.list_page .entry .body {
    margin-left: 66px;
}
.list_page .entry .name {
    padding: 4px 0 2px;
    font-size: 14px;
}
.list_page .entry .subname {
    padding-top: 4px;
}
.list_page .entry .details_entry {
    padding-top: 4px;
}
.list_page .entry .info {
    font-size: 11px;
    padding-top: 5px;
}
.history {
    padding: 16px 0;
}
.message {
    margin: 0 -10px;
    transition: background-color 2.0s ease;
}
div.selected {
    background-color: rgba(242,246,250,255);
    transition: background-color 0.5s ease;
}
.service {
    padding: 10px 10px;
}
.service .body {
    text-align: right;
}
.service .userpic_wrap {
    padding-top: 10px;
}
.service .userpic {
    margin: 0 auto;
}
.service .userpic .initials {
    font-size: 24px;
}
.message .userpic .initials {
    font-size: 16px;
}
.default {
    padding: 10px;
}
.default.joined {
    margin-top: -10px;
}
.default .from_name {
	color: #604840;
	background-color: #;
    font-weight: 600;
	font: 16px/22px 'Open Sans',"Tahoma","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	text-shadow:
        -1.50px -1.50px 0 #eeeeee,
        0.00px 0.00px 0 #bbbbbb,
		0.50px 0.50px 0 #888888,
        1.00px 1.00px 0 #aaaaaa,
        1.50px 1.50px 0 #bbbbbb,
        2.00px 2.00px 0 #cccccc,
		2.50px 2.50px 0 #dddddd,
        3.00px 3.00px 0 #eeeeee;
    padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 0px;
}
.default .from_name .details {
    font-weight: normal;
}
.default .body {
    margin-left: 0px;
}
.default .text {
    word-wrap: break-word;
    line-height: 110%;
    unicode-bidi: plaintext;
    text-align: justify;
}
.default .reply_to,
.default .media_wrap {
    padding-bottom: 5px;
}
.default .media {
    margin: 0 -10px;
    padding: 5px 10px;
}
.default .media .fill,
.default .media .thumb {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.default .media .fill {
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-size: 24px 24px;
}
.default .media .title,
.default .media_poll .question {
    padding: 10px;
    font: 12x/12px 'Open Sans',"Tahoma","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #003355;
		text-shadow:        
        -2px -2px 2px #eeeeee,
		3px 3px 3px #888888;
}
.default .media .description {
    color: #000000;
    padding-top: -4px;
    font: 15x/15px 'Open Sans',"Tahoma","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}
.default .media .status {
    padding-top: 4px;
    font-size: 16px;
}
.default .video_file_wrap,
.default .animated_wrap {
    position: relative;
	font: 10px/10px 'Open Sans',"Arial","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}
.default .video_file,
.default .animated,
.default .photo,
.default .sticker {    
	border: 3px ridge #d0c8c0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	zoom: 200%
}
.video_duration {
    background: rgba(0, 0, 0, .4);
    padding: 0px 5px;
    position: absolute;
    z-index: 2;
    border-radius: 2px;
    right: 3px;
    bottom: 3px;
    color: #ffffff;
    font-size: 11px;
}
.video_play_bg {
    background: #00000080;
    width: 40px;
    height: 40px;
    line-height: 0;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
	border: 5px groove #00ffa0ff;
    box-shadow: 0px 0px 10px #000000ff;
    overflow: hidden;
    margin: -20px auto 0 -20px;
    top: 45%;
    left: 50%;
    pointer-events: none;
}
.video_play {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -9px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 14px;
    border-color: transparent transparent transparent #fff;
}
.gif_play {
    font-weight: 700;
    color: #FFF;
    display: block;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
	
}
.pagination {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.toast_container {
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: opacity 3.0s ease;
}
.toast_body {
    margin: 0 -50%;
    float: left;
    border-radius: 15px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}
div.toast_shown {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.section.calls {
    background-image: url(../images/section_calls.png);
}
.section.chats {
    background-image: url(../images/section_chats.png);
}
.section.contacts {
    background-image: url(../images/section_contacts.png);
}
.section.frequent {
    background-image: url(../images/section_frequent.png);
}
.section.photos {
    background-image: url(../images/section_photos.png);
}
.section.sessions {
    background-image: url(../images/section_sessions.png);
}
.section.stories {
    background-image: url(../images/section_stories.png);
}
.section.web {
    background-image: url(../images/section_web.png);
}
.section.other {
    background-image: url(../images/section_other.png)
}
.page_header a.content {
    background-image: url(../images/back.png);
}
.media_call .fill {
    background-image: url(../images/media_call.png)
}
.media_contact .fill {
    background-image: url(../images/media_contact.png)
}
.media_file .fill {
    background-image: url(../images/media_file.png)
}
.media_game .fill {
    background-image: url(../images/media_game.png)
}
.media_live_location .fill,
.media_location .fill,
.media_venue .fill {
    background-image: url(../images/media_location.png)
}
.media_audio_file .fill {
    background-image: url(../images/media_music.png)
}
.media_invoice .fill {
    background-image: url(../images/media_shop.png)
}
.media_voice_message .fill {
    background-image: url(../images/media_voice.png)
}
.media_photo .fill {
    background-image: url(../images/media_photo.png)
}
.media_video .fill {
    background-image: url(../images/media_video.png)
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
.section.calls {
    background-image: url(../images/section_calls@2x.png);
}
.section.chats {
    background-image: url(../images/section_chats@2x.png);
}
.section.contacts {
    background-image: url(../images/section_contacts@2x.png);
}
.section.frequent {
    background-image: url(../images/section_frequent@2x.png);
}
.section.photos {
    background-image: url(../images/section_photos@2x.png);
}
.section.sessions {
    background-image: url(../images/section_sessions@2x.png);
}
.section.stories {
    background-image: url(../images/section_stories@2x.png);
}
.section.web {
    background-image: url(../images/section_web@2x.png);
}
.section.other {
    background-image: url(../images/section_other@2x.png);
}
.page_header a.content {
    background-image: url(../images/back@2x.png);
}
.media_call .fill {
    background-image: url(../images/media_call@2x.png)
}
.media_contact .fill {
    background-image: url(../images/media_contact@2x.png)
}
.media_file .fill {
    background-image: url(../images/media_file@2x.png)
}
.media_game .fill {
    background-image: url(../images/media_game@2x.png)
}
.media_live_location .fill,
.media_location .fill,
.media_venue .fill {
    background-image: url(../images/media_location@2x.png)
}
.media_audio_file .fill {
    background-image: url(../images/media_music@2x.png)
}
.media_invoice .fill {
    background-image: url(../images/media_shop@2x.png)
}
.media_voice_message .fill {
    background-image: url(../images/media_voice@2x.png)
}
.media_photo .fill {
    background-image: url(../images/media_photo@2x.png)
}
.media_video .fill {
    background-image: url(../images/media_video@2x.png)
}
}

.spoiler {
    background: #e8e8e8;
}
.spoiler.hidden {
    background: #a9a9a9;
    cursor: pointer;
    border-radius: 3px;
}
.spoiler.hidden span {
    opacity: 0;
    user-select: none;
}
